<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatfast">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/roundedbutton" />
        <activity android:name=".paymentActivity"/>

        <activity android:name=".DisplayOrderActivity"/>
        <activity android:name=".MenuActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".CategoryDetail" />
        <activity android:name=".AdminOrdersActivity"/>
        <activity android:name=".AdminLoginActivity"/>
        <activity android:name=".ProcessPaymentActivity"/>
        <service
            android:name=".FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".NotifyUser"
            android:enabled="true"
            android:exported="true"
            />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"
            android:stopWithTask="false"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>