<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatfast">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/roundedbutton" />
        <activity android:name=".Activities.paymentActivity"/>
        <activity android:name=".Activities.DisplayOrderActivity"/>
        <activity android:name=".Activities.MenuActivity" />
        <activity android:name=".Activities.CartActivity" />
        <activity android:name=".CategoryDetail" />
        <activity android:name=".Activities.AdminOrdersActivity"/>
        <activity android:name=".Activities.AdminLoginActivity"/>
        <activity android:name=".Activities.ProcessPaymentActivity"/>
        <service
            android:name=".Services.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".Services.NotifyUserService"
            android:enabled="true"
            android:exported="true"
            />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OrderActivity"
            android:label="@string/title_activity_order"
            android:stopWithTask="false"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>